<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('categories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
		</a>
	</div>
	<div class="col-md-6 text-right">
	  {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}">Click here to log in</a>
    {% else %}
      <img src='{{session["picture"]}}' style = "width: 50px; height: 50px;border-radius: 25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;">
      <a href="{{url_for('gdisconnect')}}">Disconnect</a>
    {% endif %}
	</div>
</div>
